In [1]:
import pandas as pd
from pathlib import Path
import glob
import numpy as np
from datetime import date
from datetime import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
import ipywidgets as widgets
from ipywidgets import interact, interact_manual

# connect to database
import sqlalchemy as db
engine = db.create_engine('postgresql+psycopg2://postgres:1111@localhost/postgres')
connection = engine.connect()
metadata = db.MetaData()
occupancy = db.Table('occ', metadata, autoload=True, autoload_with=engine)

ensign_color = '#0019FE'

In [5]:
# !jupyter nbextension enable --py widgetsnbextension --sys-prefix
# !jupyter serverextension enable voila --sys-prefix

In [2]:
counties_dict = {'AZ': ['Maricopa', 'Yavapai','Pima'],
                 'CA': ['Los Angeles', 'Orange', 'Sonoma','Mendocino','Ventura','Santa Barbara','San Diego',
                        'San Bernardino','Riverside'],
                 'CO': ['Pueblo', 'Larimer', 'Jefferson', 'El Paso', 'Denver', 'Boulder', 'Arapahoe', 'Adams'],
                 'IA': ['Wright', 'Webster', 'Sioux', 'Polk', 'Palo Alto', 'Cherokee'],
                 'ID': ['Valley', 'Owyhee','Madison','Lemhi','Gooding','Gem','Cassia','Canyon','Bannock','Ada'],
                 'KS': ['Wyandotte','Shawnee','Johnson','Franklin'],
                 'NE': ['Wayne','Richardson','Gage','Douglas','Cedar'],
                 'NV': ['Washoe'],
                 'SC': ['York','Lexington','Horry'],
                 'TX': ['Victoria','Polk','Harris','Gregg','Galveston','Fort Bend','Angelina','Williamson','Travis','Hays',
                        'Comal','Burnet','Bell','Van Zandt','Rockwall','Lamar','Kaufman','Hunt','Ellis','Denton','Dallas','Collin',
                        'Taylor','Tarrant','Randall','Potter','Lubbock','Hidalgo','Cameron','Bexar'],
                 'UT':['Weber','Salt Lake','Washington','Utah','Iron','Carbon'],
                 'WA':['Walla Walla','Thurston','Snohomish','Skagit','Pierce','Kitsap','King','Grays Harbor','Cowlitz','Clark'],
                 'WI':['Waupaca']
                 }
states = counties_dict.keys()

In [37]:
def generate_x_labels():
    _, tuple_lables = get_data_and_xlabels('CA', False)
    
    full_x_labels = list()
    def convertTuple(tup):
        string = []
        string.append(str(tup[0]))
        string.append(', ')
        string.append(str(tup[1]))
        result = ''.join(string)
        return result

    for t in tuple_labels:
        label = convertTuple(t)
        full_x_labels.append(label)
    return full_x_labels


full_x_labels = generate_x_labels()
# full_x_labels

/var/folders/pg/m6t364yd5yl9c8mcnhmr67y40000gn/T/ipykernel_3353/3675959044.py:7: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  occupancy_table = occupancy_table.fillna(occupancy_table.mean())

In [35]:
# NV competitors dots not showing

def generate_occ_table(df):
    occupancy_table = pd.pivot_table(df, values=['occupancy'], index=['provnum'], columns=['year', 'month'])
    occupancy_table['provnum'] = occupancy_table.index
    occupancy_table = occupancy_table.reset_index(drop=True)
    occupancy_table = occupancy_table.fillna(occupancy_table.mean())
#     if df['ensign'][0]:
#         occupancy_table = occupancy_table.fillna(occupancy_table.mean())
#     else:
#         occupancy_table = occupancy_table.dropna()
         
    return occupancy_table

def get_data_and_xlabels(state, isEnsign):
    query=db.select([occupancy]).where(db.and_(occupancy.columns.ensign == isEnsign,
                                          occupancy.columns.state==state))
    df = pd.read_sql_query(query, con=engine)
    
    # add missing months' columns
    if isEnsign and state in ['AZ', 'WI', 'UT', 'SC', 'NV', 'NE', 'KS', 'ID', 'IA']:
        for i in range(3):
            df.loc[len(df)] = None
            df.iloc[len(df)-1, df.columns.get_loc('year')] = 2020
            df.iloc[len(df)-1, df.columns.get_loc('month')] = i+1
            df.iloc[len(df)-1, df.columns.get_loc('provnum')] = '000000'
            df['occupancy'].fillna(value=df['occupancy'].mean(), inplace=True)
    if not isEnsign and state in ['NV']:
        for i in range(3):
            df.loc[len(df)] = None
            df.iloc[len(df)-1, df.columns.get_loc('year')] = 2020
            df.iloc[len(df)-1, df.columns.get_loc('month')] = i+1
            df.iloc[len(df)-1, df.columns.get_loc('provnum')] = '000000'
            df['occupancy'].fillna(value=df['occupancy'].mean(), inplace=True)
    occupancy_table = generate_occ_table(df)
    x_labels = occupancy_table['occupancy'].columns.tolist()
    
    return occupancy_table, x_labels

def trend_pre_and_post_covid(occupancy_table):
    pre_covid = occupancy_table.iloc[:,-14::-1]
    pre_covid = pre_covid.iloc[:,::-1]
    pre_x = np.arange(0,len(pre_covid['occupancy'].columns.tolist()),1)
    pre_y = pre_covid['occupancy'].mean().values   
    pre_m, pre_b = np.polyfit(pre_x, pre_y, 1)
    
    post_covid = occupancy_table.iloc[:,-2:-14:-1]
    post_covid = post_covid.iloc[:,::-1]
    post_x = np.arange(pre_x[-1]+1,pre_x[-1]+13,1)
    post_y = post_covid['occupancy'].mean().values   
    post_m, post_b = np.polyfit(post_x, post_y, 1)
    
    return pre_m, pre_b, pre_x, post_m, post_b, post_x

# plot two regression lins
sns.set(rc={"figure.figsize":(20, 8)})
mpl.rcParams.update({"axes.grid" : True, "grid.color": 'CCE5FF'})

@interact
def plot_trend_regression(state=states, Trend_line=['Ensign', 'Competitors']):
    '''
    @Usage: plot average occupancy each month from 2017/1 to 
    most recent month available for each state
    @Params: x: states array, default value is an array of 
    13 states that have Ensign facilities
    '''
    
    # Competitors
    occupancy_table, x_labels = get_data_and_xlabels(state, False)
    pre_m, pre_b, pre_x, post_m, post_b, post_x = trend_pre_and_post_covid(occupancy_table)
    
    # Ensign
    occupancy_table_en, x_labels_en = get_data_and_xlabels(state, True)
    pre_me, pre_be, pre_xe, post_me, post_be, post_xe = trend_pre_and_post_covid(occupancy_table_en)
    
    x1 = np.arange(0, len(x_labels),1)
    y1 = occupancy_table['occupancy'].mean().values
    
    x_en = np.arange(0, len(x_labels_en),1)
    y_en = occupancy_table_en['occupancy'].mean().values
    
    # green trend line if positive, else red
    pre_covid_color = 'g' if pre_m > 0 else 'r'
    post_covid_color = 'g' if post_m > 0 else 'r'
    
    pre_covid_color_en = 'g' if pre_me > 0 else 'r'
    post_covid_color_en = 'g' if post_me > 0 else 'r'
    
    ax = plt.axes()
    ax.set_facecolor((1, 1, 1))
    plt.scatter(x=x1,y=y1, color='orange')
    plt.scatter(x=x_en,y=y_en, color= ensign_color)
    
    # toggle trend line for Ensign and competitors
    if Trend_line == 'Competitors':
        plt.plot(pre_x, pre_m*pre_x + pre_b, color=pre_covid_color)
        plt.plot(post_x, post_m*post_x + post_b, color=post_covid_color)
    else:
        plt.plot(pre_xe, pre_me*pre_xe + pre_be, color=pre_covid_color_en)
        plt.plot(post_xe, post_me*post_xe + post_be, color=post_covid_color_en)
    
    plt.ylim(0.5,1)
    plt.xticks(np.arange(0, len(x_labels),1), full_x_labels, rotation=90);
    plt.title(f'{state}\n      Competitors - PreCovid: {round(pre_m*100,2)}%,PostCovid: {round(post_m*100,2)}% \n\
              Ensign - PreCovid: {round(pre_me*100,2)}%, PostCovid: {round(post_me*100,2)}%', fontsize=20)
    
    plt.show()

interactive(children=(Dropdown(description='state', options=('AZ', 'CA', 'CO', 'IA', 'ID', 'KS', 'NE', 'NV', 'â€¦

In [18]:
# missing 2020/1, 2020/2, 2020/3 AZ, WI, UT, SC, NV, NE, KS, ID, IA (9 states)

@interact
def plot_ensign_trend(x=states):
    '''
    @Usage: plot average Ensign Facilities' occupancy each month from 2017/1 to 
    most recent month available for each state
    @Params: x: states string array, default value is an array of 
    13 states that have Ensign facilities
    '''
    state = 'CA'
    for s in states:
        if x == s:
            state = x
#     for state in states:
    query=db.select([occupancy]).where(db.and_(occupancy.columns.ensign == True,
                                          occupancy.columns.state==state))
    df = pd.read_sql_query(query, con=engine)
    occupancy_table = generate_occ_table(df)
    x_labels = occupancy_table['occupancy'].columns.tolist()
    x1 = np.arange(0, len(x_labels),1)
    y1 = occupancy_table['occupancy'].mean().values
        
    m, b = np.polyfit(x1, y1, 1)

#  occupancy_table['occupancy'].mean().values
    plt.scatter(x=x1,y=y1)
    plt.plot(x1, m*x1 + b, color='r')
    plt.ylim(0.5,1)
    plt.xticks(np.arange(0, len(x_labels),1),x_labels, rotation=90);
    plt.title(f'{state}, {round(m,4)}')
    plt.show()

interactive(children=(Dropdown(description='x', options=('AZ', 'CA', 'CO', 'IA', 'ID', 'KS', 'NE', 'NV', 'SC',â€¦

In [14]:
## split data into pre and post covid (some missing months so have to slice from the end)
# pre_covid = occupancy_table.iloc[:,-14::-1]
# pre_covid = pre_covid.iloc[:,::-1] # reverse column order back
# pre_covid

In [11]:
# columns[-2:-14:-1] # after covid months

In [12]:
# columns[-14::-1]  # before covid months

In [13]:
# occupancy_table = pd.pivot_table(df, values=['occupancy'], index=['provnum'], columns=['year', 'month'])
# occupancy_table['provnum'] = occupancy_table.index
# occupancy_table = occupancy_table.reset_index(drop=True)
# occupancy_table = occupancy_table.fillna(occupancy_table.mean())
# occupancy_table['occupancy']

In [48]:
# # plot two regression lins competitors only
# sns.set(rc={"figure.figsize":(20, 8)})
# mpl.rcParams.update({"axes.grid" : True, "grid.color": 'CCE5FF'})

# @interact
# def plot_trend_regression(x=states):
#     '''
#     @Usage: plot average occupancy each month from 2017/1 to 
#     most recent month available for each state
#     @Params: x: states array, default value is an array of 
#     13 states that have Ensign facilities
#     '''
#     state = 'CA'
#     for s in states:
#         if x == s:
#             state = x
# #     for state in states:
#     query=db.select([occupancy]).where(db.and_(occupancy.columns.ensign == False,
#                                           occupancy.columns.state==state))
#     df = pd.read_sql_query(query, con=engine)
#     occupancy_table = generate_occ_table(df)
#     x_labels = occupancy_table['occupancy'].columns.tolist()
    
#     # competitor pre-covid
#     pre_covid = occupancy_table.iloc[:,-14::-1]
#     pre_covid = pre_covid.iloc[:,::-1]
#     pre_x = np.arange(0,len(pre_covid['occupancy'].columns.tolist()),1)
#     pre_y = pre_covid['occupancy'].mean().values   
#     pre_m, pre_b = np.polyfit(pre_x, pre_y, 1)
    
#     # competitor post-covid
#     post_covid = occupancy_table.iloc[:,-2:-14:-1]
#     post_covid = post_covid.iloc[:,::-1]
#     post_x = np.arange(pre_x[-1]+1,pre_x[-1]+13,1)
#     post_y = post_covid['occupancy'].mean().values   
#     post_m, post_b = np.polyfit(post_x, post_y, 1)
    
#     x1 = np.arange(0, len(x_labels),1)
#     y1 = occupancy_table['occupancy'].mean().values
    
#     # green trend line if positive, else red
#     pre_covid_color = 'g' if pre_m > 0 else 'r'
#     post_covid_color = 'g' if post_m > 0 else 'r'
    
#     ax = plt.axes()
#     ax.set_facecolor((1, 1, 1))
# #  occupancy_table['occupancy'].mean().values
#     plt.scatter(x=x1,y=y1)
# #     plt.plot(x1, m*x1 + b, color='r')
#     plt.plot(pre_x, pre_m*pre_x + pre_b, color=pre_covid_color)
#     plt.plot(post_x, post_m*post_x + post_b, color=post_covid_color)
#     plt.ylim(0.5,1)
#     plt.xticks(np.arange(0, len(x_labels),1),x_labels, rotation=90);
#     plt.title(f'{state}\n PreCovid: {round(pre_m*100,2)}%\n PostCovid: {round(post_m*100,2)}%', fontsize=20)
    
#     plt.show()

### State Occupancy 2017-2021 <a class="anchor" id="state_occupancy"></a>

In [180]:
# x_ticks labels
# x_lables = occupancy_table[occupancy_table['provnum']=='555875']['occupancy'].columns.tolist()
# sns.set(rc={"figure.figsize":(20, 8)})

@interact
def plot_trend_regression(state=states):
    '''
    @Usage: plot average occupancy each month from 2017/1 to 
    most recent month available for each state
    @Params: x: states array, default value is an array of 
    13 states that have Ensign facilities
    '''
    query=db.select([occupancy]).where(db.and_(occupancy.columns.ensign == False,
                                          occupancy.columns.state==state))
    df = pd.read_sql_query(query, con=engine)
    occupancy_table = generate_occ_table(df)
    x_labels = occupancy_table['occupancy'].columns.tolist()
    x1 = np.arange(0, len(x_labels),1)
    y1 = occupancy_table['occupancy'].mean().values
        
    m, b = np.polyfit(x1, y1, 1)

#  occupancy_table['occupancy'].mean().values
    plt.scatter(x=x1,y=y1)
    plt.plot(x1, m*x1 + b, color='r')
    plt.ylim(0.5,1)
    plt.xticks(np.arange(0, len(x_labels),1),x_labels, rotation=90);
    plt.title(f'{state}, {round(m,4)}', fontsize=20)
    plt.show()

    # NV missing 2020/1-2020/3

interactive(children=(Dropdown(description='state', options=('AZ', 'CA', 'CO', 'IA', 'ID', 'KS', 'NE', 'NV', 'â€¦

In [4]:
query=db.select([occupancy]).where(db.and_(occupancy.columns.ensign == False,
                                          occupancy.columns.state=='NV',
                                          ))
df = pd.read_sql_query(query, con=engine)
# tuple_labels = occupancy_table['occupancy'].columns.tolist()
# str(tuple_labels[0][1])
# type(tuple_labels)

df.head()
occupancy_table = generate_occ_table(df)
occupancy_table.iloc[:, 30:]

      occupancy                                                              \
year       2019                                                        2020
month         7         8         9        10        11        12         4
1      0.962366  0.947581  0.927778  0.983871  0.962500  0.959677  0.955556
4      0.735352  0.751152  0.747619  0.721527  0.747619  0.743911  0.664626
5      0.898551  0.907433  0.917150  0.902291  0.885024  0.863488  0.673671
6      0.899677  0.940323  0.946333  0.937419  0.902333  0.884516  0.595000
7      0.658418  0.662395  0.647945  0.633672  0.698630  0.787450  0.701370
11     0.935484  0.936016  0.935714  0.942928  0.928205  0.932471  0.914652
12     0.981324  0.973684  0.975689  0.973320  0.957143  0.965438  0.930075
13     0.906774  0.930645  0.967333  0.999032  0.981000  0.984839  0.956667

                                                                             \
year
month         5         6         7         8         9        10        11
1      0.947581  0.973611  1.000000  0.934140  0.862500  0.899193  0.737500
4      0.678736  0.666667  0.629361  0.628703  0.609524  0.612245  0.609524
5      0.586956  0.613768  0.685367  0.693081  0.800966  0.785414  0.773913
6      0.523226  0.542000  0.588387  0.650645  0.616333  0.636129  0.625000
7      0.652673  0.688584  0.673884  0.653999  0.699543  0.650906  0.773059
11     0.865650  0.839927  0.772067  0.689826  0.658974  0.713754  0.739927
12     0.891099  0.888972  0.863934  0.757943  0.732581  0.763764  0.735965
13     0.908710  0.896667  0.575161  0.622581  0.783667  0.771290  0.802667

                                              provnum
year                 2021
month        12         1         2         3
1      0.793011  0.803763  0.851190  0.844086  295001
4      0.591837  0.574062  0.561224  0.541145  295011
5      0.813698  0.847359  0.849897  0.835671  295017
6      0.635484  0.639032  0.663571  0.655484  295021
7      0.802033  0.745912  0.717221  0.681396  295023
11     0.696916  0.591280  0.684655  0.731301  295036
12     0.719258  0.773102  0.779135  0.813970  295037
13     0.850645  0.842903  0.875714  0.879677  295040

In [196]:
for i in range(3):
        df.loc[len(df)] = None
        df.iloc[len(df)-1, df.columns.get_loc('year')] = 2020
        df.iloc[len(df)-1, df.columns.get_loc('month')] = i+1
        df.iloc[len(df)-1, df.columns.get_loc('provnum')] = '000000'
        df['occupancy'].fillna(value=df['occupancy'].min(), inplace=True)
occupancy_table = generate_occ_table(df)
occupancy_table.iloc[:, 30:]

Empty DataFrame
Columns: [(occupancy, 2019.0, 7.0), (occupancy, 2019.0, 8.0), (occupancy, 2019.0, 9.0), (occupancy, 2019.0, 10.0), (occupancy, 2019.0, 11.0), (occupancy, 2019.0, 12.0), (occupancy, 2020.0, 1.0), (occupancy, 2020.0, 2.0), (occupancy, 2020.0, 3.0), (occupancy, 2020.0, 4.0), (occupancy, 2020.0, 5.0), (occupancy, 2020.0, 6.0), (occupancy, 2020.0, 7.0), (occupancy, 2020.0, 8.0), (occupancy, 2020.0, 9.0), (occupancy, 2020.0, 10.0), (occupancy, 2020.0, 11.0), (occupancy, 2020.0, 12.0), (occupancy, 2021.0, 1.0), (occupancy, 2021.0, 2.0), (occupancy, 2021.0, 3.0), (provnum, , )]
Index: []

[0 rows x 22 columns]

In [151]:
df['occupancy'] = df['occupancy'].interpolate(method='slinear').interpolate(method='linear')

In [172]:
df.tail()

,provnum,year,month,provname,city,state,county_name,county_fips,cy_qtr,mdscensus,...,hrs_natrn_ctr,hrs_medaide,hrs_medaide_emp,hrs_medaide_ctr,bedcert,region,market,cluster,occupancy,ensign
1489,035070,2018.0,10.0,CASAS ADOBES POST ACUTE REHAB CENTER,TUCSON,AZ,Pima,19.0,2018Q4,107.3871,...,0.0,0.0,0.0,0.0,230.0,Arizona,Bandera Tucson,Luchadors,0.466900,1.0
1490,035070,2018.0,11.0,CASAS ADOBES POST ACUTE REHAB CENTER,TUCSON,AZ,Pima,19.0,2018Q4,105.3000,...,0.0,0.0,0.0,0.0,230.0,Arizona,Bandera Tucson,Luchadors,0.457826,1.0
1491,NaN,2020.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.741722,NaN
1492,NaN,2020.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.741722,NaN
1493,NaN,2020.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.741722,NaN

In [184]:
# occupancy_table.iloc[:, 30:]

      occupancy                                                              \
year     2019.0                                                      2020.0
month       7.0       8.0       9.0      10.0      11.0      12.0       4.0
0      0.882019  0.925329  0.899691  0.904122  0.918210  0.918160  0.775309
1      0.617415  0.599143  0.644289  0.656215  0.645921  0.644936  0.607692
2      0.531276  0.507433  0.462174  0.445582  0.445942  0.481907  0.470145
3      0.969677  1.027419  0.987667  0.963226  1.020000  1.042258  1.112000
4      0.859057  0.852605  0.916667  0.909181  0.934103  0.905211  0.918718
5      0.784615  0.768486  0.782564  0.783375  0.766154  0.753846  0.745641
6      0.363501  0.431601  0.453704  0.545699  0.496914  0.511649  0.589815
7      0.986681  0.990219  0.975269  0.969615  0.972903  0.974194  0.971613
8      0.769671  0.741031  0.790654  0.829967  0.843302  0.782635  0.791277
9      0.899621  0.878368  0.872745  0.882922  0.882353  0.874573  0.792941
10     0.890591  0.906452  0.921667  0.892742  0.839167  0.831989  0.858889
11     0.797631  0.814012  0.838021  0.791835  0.827604  0.829637  0.759115
12     0.819086  0.765591  0.821389  0.796505  0.828056  0.856720  0.775833
13     0.739631  0.731567  0.737500  0.754608  0.825000  0.839286  0.752976
14     0.812442  0.859908  0.877143  0.896083  0.907619  0.898387  0.915476
15     0.696068  0.710938  0.722917  0.694052  0.689583  0.763105  0.596875
16     0.649698  0.681200  0.683854  0.671623  0.732031  0.730595  0.673177
17     0.906435  0.934471  0.941710  0.962675  0.940663  0.964702  0.858639
18     0.820982  0.813136  0.809459  0.807033  0.816967  0.851351  0.872673
19     0.750504  0.864163  0.856510  0.886089  0.914844  0.881300  0.801823
20     0.762961  0.732143  0.744048  0.723214  0.785714  0.809044  0.677679
21     0.745885  0.722679  0.716327  0.707373  0.719048  0.738150  0.684014
22     0.639075  0.765064  0.786164  0.767803  0.757233  0.742848  0.631761
23     0.627364  0.718576  0.921264  0.939377  0.917816  0.933815  0.906322
24     0.585968  0.566613  0.613500  0.604839  0.585167  0.604516  0.505167
25     0.609892  0.659355  0.629556  0.619785  0.664667  0.669893  0.695333
26     0.706149  0.684224  0.721875  0.646421  0.663281  0.745212  0.622656
27     0.820051  0.804238  0.792810  0.811828  0.818627  0.818469  0.657190
28     0.814247  0.790054  0.708333  0.762097  0.753056  0.710215  0.555556
29     0.907388  0.847815  0.885484  0.848855  0.910484  0.880593  0.841398
30     0.919228  0.927356  0.894751  0.910084  0.906037  0.926340  0.887139
31     0.764026  0.774877  0.787410  0.036452  0.136667  0.250323  0.549667

                                                                             \
year
month       5.0       6.0       7.0       8.0       9.0      10.0      11.0
0      0.733274  0.625926  0.645460  0.736559  0.704630  0.763740  0.744136
1      0.552673  0.580653  0.557636  0.538010  0.544755  0.538462  0.507459
2      0.471108  0.499565  0.425526  0.376297  0.392319  0.410659  0.390145
3      1.175806  1.287333  1.283871  1.161290  1.154333  1.095484  1.142333
4      0.930521  0.879487  0.871712  0.821588  0.782821  0.813400  0.789744
5      0.724814  0.731538  0.645658  0.716625  0.718718  0.713896  0.677949
6      0.537336  0.573457  0.541517  0.503286  0.506481  0.532855  0.506173
7      0.954214  0.964731  0.987097  0.999168  0.983441  0.984807  0.942151
8      0.788363  0.734579  0.747061  0.723847  0.729595  0.621947  0.742991
9      0.831309  0.843726  0.787097  0.618406  0.675490  0.700190  0.713333
10     0.858333  0.845556  0.766667  0.776075  0.804444  0.782258  0.805556
11     0.744708  0.714844  0.762853  0.786542  0.697396  0.722026  0.703385
12     0.784946  0.779444  0.798118  0.784409  0.765833  0.790591  0.658333
13     0.450461  0.501190  0.486751  0.630760  0.820238  0.771889  0.782143
14     0.769124  0.864286  0.816359  0.792166  0.820238  0.834332  0.867381
15     0.644405  0.770833  0.733619  0.613407  0.647396  0.707157  0.780729
16     0.658266  0.624740  0.384073  0.390877  0.501042  0.444556  0.495573
17     0.880594  0.935428  0.866914  0.855261  0.800175  0.804932  0.842757
18     0.867916  0.855255  0.826649  0.837983  0.825976  0.879686  0.845946
19     0.849798  0.856510  0.870212  0.794103  0.800260  0.775454  0.780469
20     0.628456  0.676191  0.713710  0.691820  0.668155  0.636521  0.651488
21     0.659809  0.741156  0.707373  0.631336  0.657313  0.682851  0.687245
22     0.776324  0.803459  0.803408  0.667681  0.691824  0.744979  0.731132
23     0.863737  0.828161  0.820356  0.870412  0.819540  0.700779  0.833908
24     0.504516  0.548833  0.557097  0.579839  0.586000  0.591935  0.586833
25     0.641505  0.656444  0.593548  0.580215  0.589333  0.591398  0.584444
26     0.661290  0.630990  0.538810  0.533014  0.572917  0.582157  0.600781
27     0.718849  0.757190  0.729602  0.739722  0.827778  0.779570  0.760131
28     0.546237  0.541667  0.553226  0.579032  0.603889  0.625806  0.663889
29     0.795265  0.820699  0.677419  0.761707  0.776344  0.841051  0.785215
30     0.823978  0.868766  0.868174  0.885700  0.872441  0.843536  0.772703
31     0.600000  0.719333  0.613548  0.669677  0.634333  0.707097  0.649000

                                              provnum
year               2021.0
month      12.0       1.0       2.0       3.0
0      0.719833  0.758961  0.820437  0.765830  035014
1      0.504399  0.568238  0.534216  0.470787  035068
2      0.407293  0.402384  0.423602  0.455540  035070
3      1.158065  1.233871  1.089286  1.018064  035071
4      0.832258  0.908685  0.914835  0.861538  035072
5      0.760794  0.777916  0.723077  0.743921  035076
6      0.569594  0.558542  0.578042  0.603345  035083
7      0.909261  0.916961  0.919124  0.900728  035087
8      0.727163  0.773892  0.793725  0.716008  035088
9      0.806072  0.852562  0.902101  0.930171  035092
10     0.855108  0.881452  0.860119  0.843011  035101
11     0.747984  0.775454  0.756138  0.685988  035103
12     0.694624  0.785484  0.813690  0.753226  035105
13     0.876728  0.918203  0.919005  0.881912  035106
14     0.769124  0.850230  0.831378  0.819816  035110
15     0.804688  0.786794  0.781808  0.731855  035111
16     0.480343  0.469758  0.442522  0.514113  035131
17     0.820638  0.886843  0.852655  0.779598  035132
18     0.873583  0.867335  0.869852  0.846120  035135
19     0.949345  0.948337  0.894810  0.884073  035144
20     0.644297  0.698157  0.640306  0.622696  035151
21     0.670507  0.697663  0.678025  0.650922  035159
22     0.703287  0.809495  0.746968  0.692940  035164
23     0.794216  0.865406  0.918719  0.842603  035171
24     0.574839  0.561452  0.648929  0.627258  035174
25     0.591828  0.636989  0.655714  0.577419  035183
26     0.650706  0.616935  0.623047  0.604587  035189
27     0.777040  0.835547  0.850490  0.804554  035190
28     0.727957  0.672043  0.675000  0.586828  035232
29     0.772112  0.828044  0.789458  0.845734  035241
30     0.767336  0.828296  0.836895  0.840488  035245
31     0.631290  0.652581  0.656071  0.798387  035297

In [ ]:
@interact
def plot_trend_regression(state=states, Trend_line=['Ensign', 'Competitors']):
    '''
    @Usage: plot average occupancy each month from 2017/1 to 
    most recent month available for each state
    @Params: x: states array, default value is an array of 
    13 states that have Ensign facilities
    '''
    
    # Competitors
    occupancy_table, x_labels = get_data_and_xlabels(state, False)
    pre_m, pre_b, pre_x, post_m, post_b, post_x = trend_pre_and_post_covid(occupancy_table)
    
    # Ensign
    occupancy_table_en, x_labels_en = get_data_and_xlabels(state, True)
    pre_me, pre_be, pre_xe, post_me, post_be, post_xe = trend_pre_and_post_covid(occupancy_table_en)
    
    x1 = np.arange(0, len(x_labels),1)
    y1 = occupancy_table['occupancy'].mean().values
    
    x_en = np.arange(0, len(x_labels_en),1)
    y_en = occupancy_table_en['occupancy'].mean().values
    
    # green trend line if positive, else red
    pre_covid_color = 'g' if pre_m > 0 else 'r'
    post_covid_color = 'g' if post_m > 0 else 'r'
    
    pre_covid_color_en = 'g' if pre_me > 0 else 'r'
    post_covid_color_en = 'g' if post_me > 0 else 'r'
    
    ax = plt.axes()
    ax.set_facecolor((1, 1, 1))
    plt.scatter(x=x1,y=y1, color='orange')
    plt.scatter(x=x_en,y=y_en, color= '#0019FE')
    
    # toggle trend line for Ensign and competitors
    if Trend_line == 'Competitors':
        plt.plot(pre_x, pre_m*pre_x + pre_b, color=pre_covid_color)
        plt.plot(post_x, post_m*post_x + post_b, color=post_covid_color)
    else:
        plt.plot(pre_xe, pre_me*pre_xe + pre_be, color=pre_covid_color_en)
        plt.plot(post_xe, post_me*post_xe + post_be, color=post_covid_color_en)
    
    plt.ylim(0.5,1)
    plt.xticks(np.arange(0, len(x_labels),1), x_labels, rotation=90);
    plt.title(f'{state}\n      Competitors - PreCovid: {round(pre_m*100,2)}%,PostCovid: {round(post_m*100,2)}% \n\
              Ensign - PreCovid: {round(pre_me*100,2)}%, PostCovid: {round(post_me*100,2)}%', fontsize=20)
    
    plt.show()

In [177]:
full_x_labels

@interact
def plot_ensign_trend(state=states):
    '''
    @Usage: plot average Ensign Facilities' occupancy each month from 2017/1 to 
    most recent month available for each state
    @Params: x: states string array, default value is an array of 
    13 states that have Ensign facilities
    '''
    query=db.select([occupancy]).where(db.and_(occupancy.columns.ensign == True,
                                          occupancy.columns.state==state))
    df = pd.read_sql_query(query, con=engine)
    
    # add missing months' columns
    if state in ['AZ', 'WI', 'UT', 'SC', 'NV', 'NE', 'KS', 'ID', 'IA']:
        for i in range(3):
            df.loc[len(df)] = None
            df.iloc[len(df)-1, df.columns.get_loc('year')] = 2020
            df.iloc[len(df)-1, df.columns.get_loc('month')] = i+1
            df['occupancy'].fillna(value=df['occupancy'].mean(), inplace=True)
    
    occupancy_table = generate_occ_table(df)
    
    x1 = np.arange(0, len(full_x_labels),1)
    y1 = occupancy_table['occupancy'].mean().values
        
    m, b = np.polyfit(x1, y1, 1)

#  occupancy_table['occupancy'].mean().values
    plt.scatter(x=x1,y=y1)
    plt.plot(x1, m*x1 + b, color='r')
    plt.ylim(0.5,1)
    plt.xticks(np.arange(0, len(full_x_labels),1), full_x_labels, rotation=90);
    plt.title(f'{state}, {round(m,4)}')
    plt.show()

interactive(children=(Dropdown(description='state', options=('AZ', 'CA', 'CO', 'IA', 'ID', 'KS', 'NE', 'NV', 'â€¦

In [18]:
# state level Ensign vs Competitors
def state_level_trend():
    '''
    @Usage: Compare Ensign and Competitors' occupancy trend
            and average occupancy in the 13 states.
    @Return: A dataframe includes trend (calculated by linear regression).
             A negative trend means occupancy is decreasing and vice versa.
             Better Than Competitors: Both Ensign trend and Ensign average
             occupancy are better than competitors within that state.
    '''
    coef_dict = {'state': [], 'trend': [], 'average':[],
                 'Ensign_trend': [], 'Ensign_average':[],
                 '#ensign_facilities':[]
                }
       
    for state in states:
        
        query_en=db.select([occupancy]).where(db.and_(occupancy.columns.ensign == True,
                                          occupancy.columns.state==state))
        df_en = pd.read_sql_query(query_en, con=engine)
        num_unique_facilities = df_en['provnum'].nunique()
        occupancy_table_en = generate_occ_table(df_en)
        x_labels_en = occupancy_table_en['occupancy'].columns.tolist()
        x_en = np.arange(0, len(x_labels_en),1)
        y_en = occupancy_table_en['occupancy'].mean().values
        occ_mean_en = np.array(y_en).mean()
        m_en, b_en = np.polyfit(x_en, y_en, 1)
        coef_dict['Ensign_trend'].append(str(round(m_en,4)))
        coef_dict['Ensign_average'].append(str(round(occ_mean_en,3)))
        coef_dict['#ensign_facilities'].append(num_unique_facilities)
        
        query=db.select([occupancy]).where(db.and_(occupancy.columns.ensign == False,
                                          occupancy.columns.state==state))
        df = pd.read_sql_query(query, con=engine)
        occupancy_table = generate_occ_table(df)
        x_labels = occupancy_table['occupancy'].columns.tolist()
        x1 = np.arange(0, len(x_labels),1)
        y1 = occupancy_table['occupancy'].mean().values
        occ_mean = np.array(y1).mean()
        m, b = np.polyfit(x1, y1, 1)
        coef_dict['state'].append(state)
        coef_dict['trend'].append(str(round(m,4)))
        coef_dict['average'].append(str(round(occ_mean,3)))
    df = pd.DataFrame(data=coef_dict)
    df['trend > competitors'] = df.apply(lambda x: True if float(x['Ensign_trend']) > float(x['trend']) else False, axis=1)
    df['average > competitors'] = df.apply(lambda x: True if float(x['Ensign_average'])>float(x['average']) else False, axis=1)
    df['better_than_competitors'] = df.apply(lambda x: True if x['trend > competitors'] and x['average > competitors']\
                                             else False, axis=1)
    df = df.sort_values(by=['trend']).reset_index(drop=True)
    
    return df

df = state_level_trend()
df
df.style.set_caption('Better Than Competitors: Both Trend and Average Occupancy are better than Competitors')

In [50]:
def county_level_trend(state):
    coef_dict = {'county': [], 'trend': [], 'average':[],
                 'Ensign_trend': [], 'Ensign_average':[],
                 '#ensign_facilities':[],
                 'markets':[]
                }
    counties = counties_dict[state]
    big_state = False
    
    # list of states to have returned df sorted by market names
    if state in ['CA', 'TX', 'UT']:
        big_state = True
        
    for county in counties:
        coef_dict['county'].append(county)
        
        query_en=db.select([occupancy]).where(db.and_(occupancy.columns.ensign == True,
                                                      occupancy.columns.state==state,
                                                      occupancy.columns.county_name==county))
        df_en = pd.read_sql_query(query_en, con=engine)
        num_unique_facilities = df_en['provnum'].nunique()
        occupancy_table_en = generate_occ_table(df_en)
        x_labels_en = occupancy_table_en['occupancy'].columns.tolist()
        x_en = np.arange(0, len(x_labels_en),1)
        y_en = occupancy_table_en['occupancy'].mean().values
        occ_mean_en = np.array(y_en).mean()
        m_en, b_en = np.polyfit(x_en, y_en, 1)
        coef_dict['Ensign_trend'].append(round(m_en,4))
        coef_dict['Ensign_average'].append(round(occ_mean_en,3))
        coef_dict['#ensign_facilities'].append(num_unique_facilities)
        markets = df_en['market'].unique().tolist()
        markets = str(', '.join(markets))
        coef_dict['markets'].append(markets)
        
        
        query=db.select([occupancy]).where(db.and_(occupancy.columns.ensign == False,
                                                   occupancy.columns.state==state,
                                                   occupancy.columns.county_name==county))
        df = pd.read_sql_query(query, con=engine)
        if len(df) > 0:
            occupancy_table = generate_occ_table(df)
            x_labels = occupancy_table['occupancy'].columns.tolist()
            x1 = np.arange(0, len(x_labels),1)
            y1 = occupancy_table['occupancy'].mean().values
            occ_mean = np.array(y1).mean()
            m, b = np.polyfit(x1, y1, 1)
            coef_dict['trend'].append(round(m,4))
            coef_dict['average'].append(round(occ_mean,3))
        else:
            coef_dict['trend'].append(-1)
            coef_dict['average'].append(-1)
    df = pd.DataFrame(data=coef_dict)
    df['trend > competitors'] = df.apply(lambda x: True if float(x['Ensign_trend']) > float(x['trend']) else False, axis=1)
    df['average > competitors'] = df.apply(lambda x: True if float(x['Ensign_average'])> float(x['average']) else False, axis=1)
    df['better_than_competitors'] = df.apply(lambda x: True if x['trend > competitors'] and x['average > competitors']  else False, axis=1)
    if big_state:
        df['markets'] = df['markets'].sort_values()  
    else:
        df = df.sort_values(by=['trend']).reset_index(drop=True)
    
    return df

In [51]:
id_df = county_level_trend('ID')
id_df

,county,trend,average,Ensign_trend,Ensign_average,#ensign_facilities,markets,trend > competitors,average > competitors,better_than_competitors
0,Valley,-1.0000,-1.000,-0.0020,0.418,1,Pennant Idaho Nevada,True,True,True
1,Owyhee,-1.0000,-1.000,0.0083,0.866,1,Pennant Idaho Nevada,True,True,True
2,Lemhi,-1.0000,-1.000,-0.0040,0.600,1,Pennant Idaho Nevada,True,True,True
3,Gooding,-1.0000,-1.000,0.0002,0.374,1,Pennant Idaho Nevada,True,True,True
4,Madison,-0.0081,0.904,-0.0002,0.373,1,Pennant Idaho Nevada,True,False,False
5,Bannock,-0.0033,0.793,-0.0003,0.672,2,Pennant Idaho Nevada,True,False,False
6,Gem,-0.0025,0.484,-0.0012,0.615,1,Pennant Idaho Nevada,True,True,True
7,Ada,-0.0020,0.687,-0.0007,0.668,1,Pennant Idaho Nevada,True,False,False
8,Canyon,-0.0011,0.684,0.0045,0.774,1,Pennant Idaho Nevada,True,True,True
9,Cassia,-0.0006,0.730,-0.0037,0.796,1,Pennant Idaho Nevada,False,True,False

In [23]:
ca_df = county_level_trend('CA')
ca_df

,county,trend,average,Ensign_trend,Ensign_average,#ensign_facilities,markets,trend > competitors,average > competitors,better_than_competitors
0,Los Angeles,-0.0028,0.852,-0.0023,0.872,13,"Momentum, Touchstone 2.0",True,True,True
1,Orange,-0.0026,0.835,-0.0023,0.886,7,Momentum,True,True,True
2,Sonoma,-0.0066,0.879,-0.0011,0.768,5,Flagstone No Cal,True,False,False
3,Mendocino,NaN,NaN,-0.0020,0.677,2,Flagstone No Cal,False,False,False
4,Ventura,-0.0028,0.803,0.0002,0.882,3,NC Islanders,True,True,True
5,Santa Barbara,-0.0005,0.751,0.0018,0.745,2,NC Islanders,True,False,False
6,San Diego,-0.0024,0.844,-0.0015,0.869,15,SD United,True,True,True
7,San Bernardino,-0.0008,0.904,-0.0030,0.896,2,Touchstone 2.0,False,False,False
8,Riverside,-0.0020,0.889,-0.0058,0.872,2,Touchstone 2.0,False,False,False

In [49]:
az_df = county_level_trend('AZ')
az_df

,county,trend,average,Ensign_trend,Ensign_average,#ensign_facilities,markets,trend > competitors,average > competitors,better_than_competitors
0,Yavapai,-0.0045,0.740,-0.0044,0.643,1,Bandera Phoenix West,True,False,False
1,Pima,-0.0040,0.766,-0.0010,0.649,7,Bandera Tucson,True,False,False
2,Maricopa,-0.0037,0.938,0.0011,0.780,24,"Bandera Phoenix West, Bandera Phoenix East",True,False,False

In [ ]:
co_df = county_level_trend('CO')
co_df

In [ ]:
ia_df = county_level_trend('IA')
ia_df

In [ ]:
ks_df = county_level_trend('KS')
ks_df

In [ ]:
ne_df = county_level_trend('NE')
ne_df

In [ ]:
nv_df = county_level_trend('NV')
nv_df

In [ ]:
sc_df = county_level_trend('SC')
sc_df

In [ ]:
tx_df = county_level_trend('TX')
tx_df

In [ ]:
ut_df = county_level_trend('UT')
ut_df

In [ ]:
wa_df = county_level_trend('WA')
wa_df

In [ ]:
wi_df = county_level_trend('WI')
wi_df

In [ ]:
### some snippets
mean = occupancy_table[occupancy_table['provnum']=='555875']['occupancy'].values.mean()
mean
y1 = occupancy_table[occupancy_table['provnum']=='555875']['occupancy'].values.squeeze().tolist()
np.array(y1).mean()

# x_ticks labels
x1 = occupancy_table['occupancy'].columns.tolist()

# linear regression
x = np.arange(0, len(x1),1)
m, b = np.polyfit(x, y1, 1)
m

In [ ]:
sns.set(rc={"figure.figsize":(20, 8)})
plt.scatter(x=x,y=y1)
plt.plot(x, m*x + b, color='r')
plt.ylim(0.5,1)
plt.xticks(np.arange(0, len(x1),1),x1, rotation=90);
plt.title(f'Ensign in CA, {round(m,4)}')