In [1]:
import pandas as pd
from pathlib import Path
import glob
import numpy as np
from datetime import date
from datetime import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
import ipywidgets as widgets
from ipywidgets import interact, interact_manual

# connect to database
import sqlalchemy as db
engine = db.create_engine('postgresql+psycopg2://postgres:1111@localhost/postgres')
connection = engine.connect()
metadata = db.MetaData()
occupancy = db.Table('occ', metadata, autoload=True, autoload_with=engine)


from utils.utils import counties_dict, states, full_x_labels, state_facility_dict
from utils.acquisition import get_merged_table, get_acquired_dates_df


acquisition_occupancy_table, new_prov_df, states_2017_2018, state_facility_dict_2017_2018 = get_merged_table()
ac_dates_df = get_acquired_dates_df()

states_with_new_providers = state_facility_dict.keys()

# set graph size and background color
sns.set(rc={"figure.figsize":(20, 8)})
mpl.rcParams.update({"axes.grid" : True, "grid.color": 'CCE5FF'})
ensign_color = '#0019FE'

In [5]:
# !jupyter nbextension enable --py widgetsnbextension --sys-prefix
# !jupyter serverextension enable voila --sys-prefix

In [3]:
# from scipy.signal import find_peaks

def generate_occ_table(df):
    occupancy_table = pd.pivot_table(df, values=['occupancy'], index=['provnum'], columns=['year', 'month'])
    occupancy_table['provnum'] = occupancy_table.index
    occupancy_table = occupancy_table.reset_index(drop=True)
    occupancy_table = occupancy_table.fillna(occupancy_table.mean())
#     if df['ensign'][0]:
#         occupancy_table = occupancy_table.fillna(occupancy_table.mean())
#     else:
#         occupancy_table = occupancy_table.dropna()
         
    return occupancy_table

def get_data_and_xlabels(state, isEnsign):
    query=db.select([occupancy]).where(db.and_(occupancy.columns.ensign == isEnsign,
                                          occupancy.columns.state==state))
    df = pd.read_sql_query(query, con=engine)
    
    # add missing months' columns
    if isEnsign and state in ['AZ', 'WI', 'UT', 'SC', 'NV', 'NE', 'KS', 'ID', 'IA']:
        for i in range(3):
            df.loc[len(df)] = None
            df.iloc[len(df)-1, df.columns.get_loc('year')] = 2020
            df.iloc[len(df)-1, df.columns.get_loc('month')] = i+1
            df.iloc[len(df)-1, df.columns.get_loc('provnum')] = '000000'
            df['occupancy'].fillna(value=df['occupancy'].mean(), inplace=True)
    if not isEnsign and state in ['NV']:
        for i in range(3):
            df.loc[len(df)] = None
            df.iloc[len(df)-1, df.columns.get_loc('year')] = 2020
            df.iloc[len(df)-1, df.columns.get_loc('month')] = i+1
            df.iloc[len(df)-1, df.columns.get_loc('provnum')] = '000000'
            df['occupancy'].fillna(value=df['occupancy'].mean(), inplace=True)
    occupancy_table = generate_occ_table(df)
    x_labels = occupancy_table['occupancy'].columns.tolist()
    
    return occupancy_table, x_labels

def trend_pre_and_post_covid(occupancy_table):
    pre_covid = occupancy_table.iloc[:,-14::-1]
    pre_covid = pre_covid.iloc[:,::-1]
    pre_x = np.arange(0,len(pre_covid['occupancy'].columns.tolist()),1)
    pre_y = pre_covid['occupancy'].mean().values   
    pre_m, pre_b = np.polyfit(pre_x, pre_y, 1)
    
    post_covid = occupancy_table.iloc[:,-2:-14:-1]
    post_covid = post_covid.iloc[:,::-1]
    post_x = np.arange(pre_x[-1]+1,pre_x[-1]+13,1)
    post_y = post_covid['occupancy'].mean().values   
    post_m, post_b = np.polyfit(post_x, post_y, 1)
    
    return pre_m, pre_b, pre_x, post_m, post_b, post_x

# plot two regression lins
sns.set(rc={"figure.figsize":(20, 8)})
mpl.rcParams.update({"axes.grid" : True, "grid.color": 'CCE5FF'})

@interact
def plot_trend_regression(state=states, Trend_line=['Ensign', 'Competitors']):
    '''
    @Usage: plot average occupancy each month from 2017/1 to 
    most recent month available for each state
    @Params: x: states array, default value is an array of 
    13 states that have Ensign facilities
    '''
    
    # Competitors
    occupancy_table, x_labels = get_data_and_xlabels(state, False)
    pre_m, pre_b, pre_x, post_m, post_b, post_x = trend_pre_and_post_covid(occupancy_table)
    
    # Ensign
    occupancy_table_en, x_labels_en = get_data_and_xlabels(state, True)
    pre_me, pre_be, pre_xe, post_me, post_be, post_xe = trend_pre_and_post_covid(occupancy_table_en)
    
    x1 = np.arange(0, len(x_labels),1)
    y1 = occupancy_table['occupancy'].mean().values
    
    x_en = np.arange(0, len(x_labels_en),1)
    y_en = occupancy_table_en['occupancy'].mean().values
    
    # green trend line if positive, else red
    pre_covid_color = 'g' if pre_m > 0 else 'r'
    post_covid_color = 'g' if post_m > 0 else 'r'
    
    pre_covid_color_en = 'g' if pre_me > 0 else 'r'
    post_covid_color_en = 'g' if post_me > 0 else 'r'
    
    ax = plt.axes()
    ax.set_facecolor((1, 1, 1))
    plt.scatter(x=x1,y=y1, color='orange')
    plt.scatter(x=x_en,y=y_en, color= ensign_color)
    
    # toggle trend line for Ensign and competitors
    if Trend_line == 'Competitors':
        plt.plot(pre_x, pre_m*pre_x + pre_b, color=pre_covid_color)
        plt.plot(post_x, post_m*post_x + post_b, color=post_covid_color)
    else:
        plt.plot(pre_xe, pre_me*pre_xe + pre_be, color=pre_covid_color_en)
        plt.plot(post_xe, post_me*post_xe + post_be, color=post_covid_color_en)
    
    plt.ylim(0.5,1)
    plt.xticks(np.arange(0, len(x_labels),1), full_x_labels, rotation=90);
    plt.title(f'{state}\n      Competitors - PreCovid: {round(pre_m*100,2)}%,PostCovid: {round(post_m*100,2)}% \n\
              Ensign - PreCovid: {round(pre_me*100,2)}%, PostCovid: {round(post_me*100,2)}%', fontsize=20)
    
    plt.show()

interactive(children=(Dropdown(description='state', options=('AZ', 'CA', 'CO', 'IA', 'ID', 'KS', 'NE', 'NV', '…

In [4]:
# Acquisition vs Occupancy
# new_prov_df
# occupancy_table
@interact
def select_state(state=states_2017_2018):
    facilities = state_facility_dict_2017_2018[state]
    @interact
    def plot_occupancy_since_acquired(facility=facilities):
        
        provnum = new_prov_df[new_prov_df['provname']==facility]['provnum'].values[0]
        occ_values = acquisition_occupancy_table[acquisition_occupancy_table['provnum']==provnum]['occupancy'].values.squeeze().tolist()
        x = np.arange(0,len(occ_values),1)
        x_labels = acquisition_occupancy_table[acquisition_occupancy_table['provnum']==provnum]['occupancy'].columns.tolist()
#         vals = np.unique(my_array1[~np.isnan(occ_values)])
        max_occ = np.nanmax(occ_values)
#         peaks = find_peaks(vals, height=0.5)
        state = new_prov_df[new_prov_df['provname']==facility]['state'].values[0]
        county = new_prov_df[new_prov_df['provname']==facility]['county'].values[0]
        ac_date = ac_dates_df[ac_dates_df['provnum']==provnum]['acquisitiondate'].values[0]

        ax = plt.axes()
        ax.set_facecolor((1, 1, 1))
        plt.scatter(x, occ_values, color=ensign_color)
        plt.hlines(max_occ, xmin=0, xmax=x[-1], linestyles='dashed', color='r')
        plt.ylim(0.3,1.2)
        plt.xticks(x,x_labels,rotation=90)
        plt.title(f'{facility}\n State: {state}, County: {county}\n Acquisition Date: {ac_date}', fontsize=20)
        plt.show()

interactive(children=(Dropdown(description='state', options=('AZ', 'CO', 'ID', 'IA', 'KS', 'UT', 'TX'), value=…

In [18]:
# state level Ensign vs Competitors
def state_level_trend():
    '''
    @Usage: Compare Ensign and Competitors' occupancy trend
            and average occupancy in the 13 states.
    @Return: A dataframe includes trend (calculated by linear regression).
             A negative trend means occupancy is decreasing and vice versa.
             Better Than Competitors: Both Ensign trend and Ensign average
             occupancy are better than competitors within that state.
    '''
    coef_dict = {'state': [], 'trend': [], 'average':[],
                 'Ensign_trend': [], 'Ensign_average':[],
                 '#ensign_facilities':[]
                }
       
    for state in states:
        
        query_en=db.select([occupancy]).where(db.and_(occupancy.columns.ensign == True,
                                          occupancy.columns.state==state))
        df_en = pd.read_sql_query(query_en, con=engine)
        num_unique_facilities = df_en['provnum'].nunique()
        occupancy_table_en = generate_occ_table(df_en)
        x_labels_en = occupancy_table_en['occupancy'].columns.tolist()
        x_en = np.arange(0, len(x_labels_en),1)
        y_en = occupancy_table_en['occupancy'].mean().values
        occ_mean_en = np.array(y_en).mean()
        m_en, b_en = np.polyfit(x_en, y_en, 1)
        coef_dict['Ensign_trend'].append(str(round(m_en,4)))
        coef_dict['Ensign_average'].append(str(round(occ_mean_en,3)))
        coef_dict['#ensign_facilities'].append(num_unique_facilities)
        
        query=db.select([occupancy]).where(db.and_(occupancy.columns.ensign == False,
                                          occupancy.columns.state==state))
        df = pd.read_sql_query(query, con=engine)
        occupancy_table = generate_occ_table(df)
        x_labels = occupancy_table['occupancy'].columns.tolist()
        x1 = np.arange(0, len(x_labels),1)
        y1 = occupancy_table['occupancy'].mean().values
        occ_mean = np.array(y1).mean()
        m, b = np.polyfit(x1, y1, 1)
        coef_dict['state'].append(state)
        coef_dict['trend'].append(str(round(m,4)))
        coef_dict['average'].append(str(round(occ_mean,3)))
    df = pd.DataFrame(data=coef_dict)
    df['trend > competitors'] = df.apply(lambda x: True if float(x['Ensign_trend']) > float(x['trend']) else False, axis=1)
    df['average > competitors'] = df.apply(lambda x: True if float(x['Ensign_average'])>float(x['average']) else False, axis=1)
    df['better_than_competitors'] = df.apply(lambda x: True if x['trend > competitors'] and x['average > competitors']\
                                             else False, axis=1)
    df = df.sort_values(by=['trend']).reset_index(drop=True)
    
    return df

df = state_level_trend()
df
df.style.set_caption('Better Than Competitors: Both Trend and Average Occupancy are better than Competitors')

In [50]:
def county_level_trend(state):
    coef_dict = {'county': [], 'trend': [], 'average':[],
                 'Ensign_trend': [], 'Ensign_average':[],
                 '#ensign_facilities':[],
                 'markets':[]
                }
    counties = counties_dict[state]
    big_state = False
    
    # list of states to have returned df sorted by market names
    if state in ['CA', 'TX', 'UT']:
        big_state = True
        
    for county in counties:
        coef_dict['county'].append(county)
        
        query_en=db.select([occupancy]).where(db.and_(occupancy.columns.ensign == True,
                                                      occupancy.columns.state==state,
                                                      occupancy.columns.county_name==county))
        df_en = pd.read_sql_query(query_en, con=engine)
        num_unique_facilities = df_en['provnum'].nunique()
        occupancy_table_en = generate_occ_table(df_en)
        x_labels_en = occupancy_table_en['occupancy'].columns.tolist()
        x_en = np.arange(0, len(x_labels_en),1)
        y_en = occupancy_table_en['occupancy'].mean().values
        occ_mean_en = np.array(y_en).mean()
        m_en, b_en = np.polyfit(x_en, y_en, 1)
        coef_dict['Ensign_trend'].append(round(m_en,4))
        coef_dict['Ensign_average'].append(round(occ_mean_en,3))
        coef_dict['#ensign_facilities'].append(num_unique_facilities)
        markets = df_en['market'].unique().tolist()
        markets = str(', '.join(markets))
        coef_dict['markets'].append(markets)
        
        
        query=db.select([occupancy]).where(db.and_(occupancy.columns.ensign == False,
                                                   occupancy.columns.state==state,
                                                   occupancy.columns.county_name==county))
        df = pd.read_sql_query(query, con=engine)
        if len(df) > 0:
            occupancy_table = generate_occ_table(df)
            x_labels = occupancy_table['occupancy'].columns.tolist()
            x1 = np.arange(0, len(x_labels),1)
            y1 = occupancy_table['occupancy'].mean().values
            occ_mean = np.array(y1).mean()
            m, b = np.polyfit(x1, y1, 1)
            coef_dict['trend'].append(round(m,4))
            coef_dict['average'].append(round(occ_mean,3))
        else:
            coef_dict['trend'].append(-1)
            coef_dict['average'].append(-1)
    df = pd.DataFrame(data=coef_dict)
    df['trend > competitors'] = df.apply(lambda x: True if float(x['Ensign_trend']) > float(x['trend']) else False, axis=1)
    df['average > competitors'] = df.apply(lambda x: True if float(x['Ensign_average'])> float(x['average']) else False, axis=1)
    df['better_than_competitors'] = df.apply(lambda x: True if x['trend > competitors'] and x['average > competitors']  else False, axis=1)
    if big_state:
        df['markets'] = df['markets'].sort_values()  
    else:
        df = df.sort_values(by=['trend']).reset_index(drop=True)
    
    return df

In [51]:
id_df = county_level_trend('ID')
id_df

,county,trend,average,Ensign_trend,Ensign_average,#ensign_facilities,markets,trend > competitors,average > competitors,better_than_competitors
0,Valley,-1.0000,-1.000,-0.0020,0.418,1,Pennant Idaho Nevada,True,True,True
1,Owyhee,-1.0000,-1.000,0.0083,0.866,1,Pennant Idaho Nevada,True,True,True
2,Lemhi,-1.0000,-1.000,-0.0040,0.600,1,Pennant Idaho Nevada,True,True,True
3,Gooding,-1.0000,-1.000,0.0002,0.374,1,Pennant Idaho Nevada,True,True,True
4,Madison,-0.0081,0.904,-0.0002,0.373,1,Pennant Idaho Nevada,True,False,False
5,Bannock,-0.0033,0.793,-0.0003,0.672,2,Pennant Idaho Nevada,True,False,False
6,Gem,-0.0025,0.484,-0.0012,0.615,1,Pennant Idaho Nevada,True,True,True
7,Ada,-0.0020,0.687,-0.0007,0.668,1,Pennant Idaho Nevada,True,False,False
8,Canyon,-0.0011,0.684,0.0045,0.774,1,Pennant Idaho Nevada,True,True,True
9,Cassia,-0.0006,0.730,-0.0037,0.796,1,Pennant Idaho Nevada,False,True,False

In [23]:
ca_df = county_level_trend('CA')
ca_df

,county,trend,average,Ensign_trend,Ensign_average,#ensign_facilities,markets,trend > competitors,average > competitors,better_than_competitors
0,Los Angeles,-0.0028,0.852,-0.0023,0.872,13,"Momentum, Touchstone 2.0",True,True,True
1,Orange,-0.0026,0.835,-0.0023,0.886,7,Momentum,True,True,True
2,Sonoma,-0.0066,0.879,-0.0011,0.768,5,Flagstone No Cal,True,False,False
3,Mendocino,NaN,NaN,-0.0020,0.677,2,Flagstone No Cal,False,False,False
4,Ventura,-0.0028,0.803,0.0002,0.882,3,NC Islanders,True,True,True
5,Santa Barbara,-0.0005,0.751,0.0018,0.745,2,NC Islanders,True,False,False
6,San Diego,-0.0024,0.844,-0.0015,0.869,15,SD United,True,True,True
7,San Bernardino,-0.0008,0.904,-0.0030,0.896,2,Touchstone 2.0,False,False,False
8,Riverside,-0.0020,0.889,-0.0058,0.872,2,Touchstone 2.0,False,False,False

In [49]:
az_df = county_level_trend('AZ')
az_df

,county,trend,average,Ensign_trend,Ensign_average,#ensign_facilities,markets,trend > competitors,average > competitors,better_than_competitors
0,Yavapai,-0.0045,0.740,-0.0044,0.643,1,Bandera Phoenix West,True,False,False
1,Pima,-0.0040,0.766,-0.0010,0.649,7,Bandera Tucson,True,False,False
2,Maricopa,-0.0037,0.938,0.0011,0.780,24,"Bandera Phoenix West, Bandera Phoenix East",True,False,False

In [ ]:
co_df = county_level_trend('CO')
co_df

In [ ]:
ia_df = county_level_trend('IA')
ia_df

In [ ]:
ks_df = county_level_trend('KS')
ks_df

In [ ]:
ne_df = county_level_trend('NE')
ne_df

In [ ]:
nv_df = county_level_trend('NV')
nv_df

In [ ]:
sc_df = county_level_trend('SC')
sc_df

In [ ]:
tx_df = county_level_trend('TX')
tx_df

In [ ]:
ut_df = county_level_trend('UT')
ut_df

In [ ]:
wa_df = county_level_trend('WA')
wa_df

In [ ]:
wi_df = county_level_trend('WI')
wi_df

In [ ]:
### some snippets
mean = occupancy_table[occupancy_table['provnum']=='555875']['occupancy'].values.mean()
mean
y1 = occupancy_table[occupancy_table['provnum']=='555875']['occupancy'].values.squeeze().tolist()
np.array(y1).mean()

# x_ticks labels
x1 = occupancy_table['occupancy'].columns.tolist()

# linear regression
x = np.arange(0, len(x1),1)
m, b = np.polyfit(x, y1, 1)
m

In [ ]:
sns.set(rc={"figure.figsize":(20, 8)})
plt.scatter(x=x,y=y1)
plt.plot(x, m*x + b, color='r')
plt.ylim(0.5,1)
plt.xticks(np.arange(0, len(x1),1),x1, rotation=90);
plt.title(f'Ensign in CA, {round(m,4)}')