In [5]:
import pandas as pd

In [31]:
df = pd.read_csv('CA/San Diego/2020_q1_census_mean_by_month.csv')
df.head()

,provnum,month,provname,city,state,county_name,county_fips,cy_qtr,workdate,mdscensus,...,hrs_natrn_ctr,hrs_medaide,hrs_medaide_emp,hrs_medaide_ctr,year,day,day_name,is_weekend,bedcert,occupancy
0,055685,1,BRIGHTON PLACE SPRING VALLEY,SPRING VALLEY,CA,San Diego,73,2020Q1,2020-01-01,66.548387,...,0.0,0.0,0.0,0.0,2020,1,Wednesday,False,75,0.887312
1,055685,2,BRIGHTON PLACE SPRING VALLEY,SPRING VALLEY,CA,San Diego,73,2020Q1,2020-02-01,68.103448,...,0.0,0.0,0.0,0.0,2020,1,Saturday,True,75,0.908046
2,055685,3,BRIGHTON PLACE SPRING VALLEY,SPRING VALLEY,CA,San Diego,73,2020Q1,2020-03-01,66.967742,...,0.0,0.0,0.0,0.0,2020,1,Sunday,True,75,0.892903
3,055698,1,ABBY GARDENS HEALTHCARE CENTER,SAN DIEGO,CA,San Diego,73,2020Q1,2020-01-01,88.516129,...,0.0,0.0,0.0,0.0,2020,1,Wednesday,False,99,0.894102
4,055698,2,ABBY GARDENS HEALTHCARE CENTER,SAN DIEGO,CA,San Diego,73,2020Q1,2020-02-01,88.758621,...,0.0,0.0,0.0,0.0,2020,1,Saturday,True,99,0.896552

In [15]:
df['provnum'] = df['provnum'].apply(lambda x: x.zfill(6))

In [16]:
df.head()

,provnum,month,provname,city,state,county_name,county_fips,cy_qtr,workdate,mdscensus,...,hrs_natrn,hrs_natrn_emp,hrs_natrn_ctr,hrs_medaide,hrs_medaide_emp,hrs_medaide_ctr,year,day,day_name,is_weekend
0,055685,1,BRIGHTON PLACE SPRING VALLEY,SPRING VALLEY,CA,San Diego,73,2020Q1,2020-01-01,66.548387,...,0.0,0.0,0.0,0.0,0.0,0.0,2020,1,Wednesday,False
1,055685,2,BRIGHTON PLACE SPRING VALLEY,SPRING VALLEY,CA,San Diego,73,2020Q1,2020-02-01,68.103448,...,0.0,0.0,0.0,0.0,0.0,0.0,2020,1,Saturday,True
2,055685,3,BRIGHTON PLACE SPRING VALLEY,SPRING VALLEY,CA,San Diego,73,2020Q1,2020-03-01,66.967742,...,0.0,0.0,0.0,0.0,0.0,0.0,2020,1,Sunday,True
3,055698,1,ABBY GARDENS HEALTHCARE CENTER,SAN DIEGO,CA,San Diego,73,2020Q1,2020-01-01,88.516129,...,0.0,0.0,0.0,0.0,0.0,0.0,2020,1,Wednesday,False
4,055698,2,ABBY GARDENS HEALTHCARE CENTER,SAN DIEGO,CA,San Diego,73,2020Q1,2020-02-01,88.758621,...,0.0,0.0,0.0,0.0,0.0,0.0,2020,1,Saturday,True